{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title %}
	Login
{% endblock %}

{% block content %}
	<div id="signup-container">
		<h2>Inscrivez-vous maintenant</h2>
		<a href="{% url 'signup' %}">S'inscrire</a>
	</div>
	<div id="login-container">
		<h2>Connectez-vous</h2>
		<form method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Se connecter">
		</form>
	</div>
{% endblock %}
