{% extends 'base.html' %}
{% load static %}

{% block title %}
	Inscription
{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
	<h1>Inscrivez-vous</h1>
	<form method="POST">
		{{ form.errors }}
		{% csrf_token %}
{#		<input type="text" placeholder="Username" id="{{ form.username.id_for_label }}">#}
		{{ form.username }}
		{{ form.password1 }}
		{{ form.password2 }}
		<div id="button-container">
			<a href="{% url 'login' %}">Retourner</a>
			<input type="submit" value="S'inscrire">
		</div>
	</form>
{% endblock %}