{% extends 'base.html' %}
{% load static %}
{% load classname %}
{% load rating %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/flux.css' %}">
{% endblock %}

{% block title %}
	Posts
{% endblock %}

{% block content %}
	<h2 id="title">Vos posts</h2>
	<div id="post-container">
		{% if all_posts %}
			{% for post in all_posts %}
				{% with post|classname as postclass %}
					{% if postclass == "Ticket" %}
						<div class="ticket-item">
							<div class="post-content">
								<p>{% if post.user == request.user %}
									Vous avez
								{% else %}
									{{ post.user.username }} à
								{% endif %} demandé une critique</p>
								<h2>{{ post.title }}</h2>
								<p>{{ post.description }}</p>
								{% if post.image %}
									<img src="{{ post.image.url }}" alt="" style="max-height:100px">
								{% endif %}
							</div>
							<div class="critic-button">
								<p>{{ post.time_created|date:'G:i, d F Y' }}</p>
								{% if post not in already_critic %}
									<a href="{% url 'review:create-review-ticket' pk=post.pk %}">Critiquer</a>
								{% endif %}
								<a href="{% url 'ticket:update-ticket' post.pk %}">Modifier</a>
								<a href="{% url 'ticket:delete-ticket' post.pk %}">Supprimer</a>
							</div>
						</div>
					{% elif postclass == "Review" %}
						<div class="review-item">
							<div class="review-content">
								<div>
									<p>{% if post.user == request.user %}
										Vous avez
									{% else %}
										{{ post.user.username }} à
									{% endif %} publié une critique</p>
									<h2>{{ post.headline }} -
										{% for _ in post.rating|vrange %}&starf;{% endfor %}
										{% for _ in post.rating|vrange:5 %}&star;{% endfor %}
									</h2>
									<p>{{ post.body }}</p>
								</div>
								<div>
									<p class="time-created">{{ post.time_created|date:'G:i, d F Y' }}</p>
								</div>
							</div>
							<div class="ticket-item">
								{% with tick=post.ticket %}
									<p>Ticket - {{ tick.user.username }}</p>
									<p>{{ tick.title }}</p>
									{% if tick.image %}
										<img src="{{ tick.image.url }}" alt="" style="max-height:100px">
									{% endif %}
									{% if tick not in already_critic %}
										<a href="{% url 'review:create-review-ticket' pk=tick.pk %}">Critiquer</a>
									{% endif %}
								{% endwith %}
							</div>
							<div class="crud-container">
								<a href="{% url 'review:update-review' post.pk %}">Modifier</a>
								<a href="{% url 'review:delete-review' post.pk %}">Supprimer</a>
							</div>
						</div>
					{% endif %}
				{% endwith %}
			{% endfor %}
		{% else %}
			<p>Vous n'avez aucun post</p>
		{% endif %}
	</div>
{% endblock %}