#top-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "useraccount logo menu";
  justify-items: center;
  border: solid 1px black;

  #user-account {
    grid-area: useraccount;
    margin: 0 0 0 10px;
    align-self: center;
    justify-self: left;
  }

  #logo {
    grid-area: logo;
    font-weight: bolder;
    margin: 0 0;
  }

  #navbar {
    grid-area: menu;
    align-self: center;
    justify-self: right;
    margin-right: 20px;
  }
}

#content {
  border: 2px solid black;
  border-top-style: none;
}

h2 {
  margin-top: 0;
}