@mixin makebutton {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 10px 20px;
}

#content {
  width: 80%;
  margin: 0 auto;

  #ticket-show {
    border: 2px solid black;

    #ticket-item {
      border: 2px solid black;
      width: 70%;
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;
      margin: 0 auto 20px;

      #time-created {
        font-size: 12px;
      }
    }
  }

  #review-form {
    border: 2px solid black;
    border-top-style: none;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    input[type=number] {
      max-width: 50px;
    }

    input[type=submit] {
      @include makebutton;
      align-self: flex-end;
    }

    textarea, input:not([type=submit]) {
      border: 2px solid black;
      border-radius: 5px;
    }

    h2 {
      margin-top: 0;
    }
  }
}