@mixin makebutton($wpadding:20px, $hpadding:10px) {
  border: 2px solid black;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: $wpadding $hpadding;
  text-decoration: none;
  text-align: center;
}

#post-container {
  width: 70%;
  margin: 0 auto;
  max-width: 800px;
  padding-top: 10px;

  .review-item {
    border: black solid 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 10px;

    .crud-container {
      margin-top: 10px;

      a {
        @include makebutton(5px, 10px);
      }
    }

    .review-content {
      display: flex;
      justify-content: space-between;
    }

    .ticket-item {
      display: grid;
      border: 2px solid black;
      margin: 3px 3px;
      padding: 4px 4px;

      & > a {
        text-decoration: none;
        border: 1px solid black;
        border-radius: 5px;
        padding: 10px 20px;
      }
    }
  }

  .ticket-item {
    display: flex;
    border: black solid 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px 10px;
    justify-content: space-between;

    .critic-button {
      display: flex;
      gap: 20px;
      flex-direction: column;

      & > a {
        @include makebutton($wpadding: 10px, $hpadding: 20px);
      }
    }

  }

  #button-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    a {
      padding: 5px 30px;
      border: 1px solid black;
      border-radius: 5px;
      text-decoration-line: none;
      color: black;

      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}