{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/crud.css' %}" type="text/css">
{% endblock %}

{% block title %}Creation Ticket{% endblock %}

{% block content %}
	<h2 id="title">Créer un ticket</h2>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<label for="{{ form.title.id_for_label }}">Title</label>
		{{ form.title }}
		{{ form.description.label_tag}}
		{{ form.description }}
		<div id="button-container">
			<p>Image</p>
			<label for="{{ form.image.id_for_label }}">Télécharger fichier</label>
			{{ form.image }}
			<input type="submit" value="Envoyer">
		</div>
	</form>
{% endblock %}