{% extends 'base.html' %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/create-update-review.css' %}">
{% endblock %}

{% block title %}Creation Review{% endblock %}

{% block content %}
	<div id="ticket-show">
		<p>Vous êtes en train de poster en réponse à</p>
		<div id="ticket-item">
			<div class="post-content">
				<p>{% if ticket.user == request.user %}
					Vous avez
				{% else %}
					{{ ticket.user.username }} à
				{% endif %} demandé une critique</p>
				<h2>{{ ticket.title }}</h2>
				<p>{{ ticket.description }}</p>
				{% if ticket.image %}
					<img src="{{ ticket.image.url }}" alt="" style="max-height:100px">
				{% endif %}
			</div>
			<div class="critic-button">
				<p id="time-created">{{ review.ticket.time_created|date:'G:i, d F Y' }}</p>
			</div>
		</div>
	</div>
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Creer">
	</form>

{% endblock %}