{% extends 'base.html' %}
{% load static %}

{% block title %}Creation Review and Ticket{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/ticketreview.css' %}">
{% endblock %}

{% block content %}
	<h2 id="title">Créer une critique</h2>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<div id="ticket-form">
			<h2>Livre / Article</h2>
			{{ ticket_form.title.label_tag }}
			{{ ticket_form.title }}
			{{ ticket_form.description.label_tag }}
			{{ ticket_form.description }}
			<label for="{{ ticket_form.image.id_for_label }}">Télécharger image</label>
			{{ ticket_form.image }}
		</div>
		<div id="review-form">
			<h2>Critique</h2>
			<label for="{{ review_form.headline.id_for_label }}">Titre</label>
			{{ review_form.headline }}
			{{ review_form.rating.label_tag }}
			{{ review_form.rating }}
			<label for="{{ review_form.body.id_for_label }}">Description</label>
			{{ review_form.body }}
			<input type="submit" value="Envoyer">
		</div>
	</form>
{% endblock %}