{% extends 'base.html' %}
{% load static %}
{% block head %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/abonnement.css' %}">
{% endblock %}

{% block content %}
	<h2>Suivre d'autres utilisateurs</h2>
	<form method="POST" id="searchbar">
		{% csrf_token %}
		{% if msg %}<p style="color:red">{{ msg }}</p>{% endif %}
		<input type="text" name="searched-user" id="searched-user" placeholder="Nom d'utilisateur">
		<input type="submit" value="Envoyer" id="search-button">
	</form>

	<h2>Abonnements</h2>
	{% if following_list %}
		<table id="abonnement-table">
			{% for following in following_list %}
				<tr>
					<td class="user-cell">{{ following.followed_user.username }}</td>
					<td class="unfollow-button"><a href="{% url 'follows:unfollow' pk=following.pk %}">Désabonner</a></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>Vous n'avez pas d'abonnement</p>
	{% endif %}

	<h2>Abonnés</h2>
	{% if followed_list %}
		<table id="abonne-table">
			{% for followed in followed_list %}
				<tr><td>{{ followed.user.username }}</td></tr>
			{% endfor %}
		</table>
	{% else %}
		<p>Vous n'avez pas d'abonnés</p>
	{% endif %}

{% endblock %}