{% extends 'base.html' %}

{% block content %}
	<h1>Gestions abonnements</h1>

	<form method="POST">
		{% csrf_token %}
		{% if msg %}<p style="color:red">{{ msg }}</p>{% endif %}
		<input type="text" name="searched-user" id="searched-user" placeholder="Utilisateur a chercher">
		<input type="submit" value="Chercher">
	</form>

	<h2>Abonnements</h2>
	{% if following_list %}
		{% for following in following_list %}
			<p>{{ following.followed_user.username }}</p>
		{% endfor %}
	{% else %}
		<p>Vous n'avez pas d'abonnement</p>
	{% endif %}

	<h2>Abonnés</h2>
	{% if followed_list %}
		{% for followed in followed_list %}
			<p>{{ followed.user.username }}</p>
		{% endfor %}
	{% else %}
		<p>Vous n'avez pas d'abonné</p>
	{% endif %}

{% endblock %}