{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
	{% block head %}{% endblock %}
</head>
<body>
	<div id="top-bar">
		<h1 id="logo">LITReview</h1>
		<div id="navbar">
			<a href="{% url 'flux' %}">Flux</a>
			<a href="{% url 'ticket:ticket-index' %}">Posts</a>
			<a href="{% url 'follows:abonnement' %}">Abonnements</a>
			<a href="{% url 'logout' %}">Deconnexion</a>
		</div>
	</div>
	{% block content %}

	{% endblock %}
	<hr>
	Utilisateur connecté : {{ request.user.username|upper }}
</body>
</html>